node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode
*.log
coverage
uploads/*.jpg
uploads/*.jpeg
uploads/*.png
uploads/*.gif
test
jest.config.js
*.spec.ts
*.test.ts
